
.idea/misc.xml
.idea/Moovi.iml
.idea/vcs.xml
.idea/workspace.xml
venv/__pycache__/appConfigPython.cpython-37.pyc
venv/__pycache__/appPadrao.cpython-37.pyc
venv/__pycache__/classes.cpython-37.pyc
venv/__pycache__/utilitariosDB.cpython-37.pyc
.idea/misc.xml
.idea/Moovi.iml
.idea/vcs.xml
.idea/workspace.xml
venv/__pycache__/classes.cpython-37.pyc
.idea/misc.xml
.idea/Moovi.iml
.idea/vcs.xml
.idea/workspace.xml
venv/__pycache__/classes.cpython-37.pyc
.idea/misc.xml
.idea/Moovi.iml
.idea/vcs.xml
.idea/workspace.xml
venv/__pycache__/agenda.cpython-37.pyc
venv/__pycache__/classes.cpython-37.pyc
venv/__pycache__/wsEvento.cpython-37.pyc
.idea/inspectionProfiles/profiles_settings.xml
.idea/modules.xml
venv/__pycache__/classes.cpython-37.pyc
venv/wsUsuario.py
venv/__pycache__/wsFeed.cpython-37.pyc
.idea/misc.xml
.idea/Moovi.iml
.idea/workspace.xml
venv/__pycache__/classes.cpython-37.pyc
venv/__pycache__/classes.cpython-37.pyc
