
.idea/misc.xml
.idea/Moovi.iml
.idea/vcs.xml
.idea/workspace.xml
venv/__pycache__/appConfigPython.cpython-37.pyc
venv/__pycache__/appPadrao.cpython-37.pyc
venv/__pycache__/classes.cpython-37.pyc
venv/__pycache__/utilitariosDB.cpython-37.pyc
.idea/misc.xml
.idea/Moovi.iml
.idea/vcs.xml
.idea/workspace.xml
venv/__pycache__/classes.cpython-37.pyc
.idea/misc.xml
.idea/Moovi.iml
.idea/vcs.xml
.idea/workspace.xml
venv/__pycache__/classes.cpython-37.pyc
